<h1>Upcoming Events</h1>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event.id)%>
    </li>
    <br>
  <% end %>
</ul>

<h1>Previous Events</h1>
<ul>
  <% @previous_events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event.id)%>
    </li>
    <br>
  <% end %>
</ul>

<br>

<%= link_to 'New Event', new_event_path %>
